<h2><%= "#{@user.name}," %></h2>

<h4>Has sido dado de alta como usuario en COCTS:</h4>
<ul>
  <li><%= "Usuario: #{@user.user}" %></li>
  <li><%= "Contraseña: #{@pass}" %></li>
</ul>

<p>Para cambiar tu contraseña haz clic en: <%= edit_user_url(@user, :host => 
    'cocts.com.ar') %>.</p>