<%= render 'form' %>

<div id="links">
  <%= link_to t(:'labels.show'), @teaching_unit, :class => :real %> |
  <%= link_to t(:'labels.list'), teaching_units_path, :class => :real %> |
  ←<%= link_to_back %>
</div>
