* {
    margin: 0px;
    padding: 0px;
}

a img {
    padding: 0px;
    border: none;
}

a[data-event="hide_item"], a[data-event="remove_item"] {
    padding: 1px 3px;
    border: 2px solid #dedede;
    text-decoration: none;
    background: inherit;
    color: #2c2c2c;
    font-size: 8px;
    font-weight: bold;
}

a[data-event="hide_item"]:hover, a[data-event="remove_item"]:hover {
    color: #ffffff;
    border-color: #ff0000;
    background: #aa0000;
}

a.real {
    padding: 1px 3px;
}

a.real:link {
    background: inherit;
    color: #2c2c2c;
}

a.real:visited {
    background: inherit;
    color: #6e6e6e;
}

a.real:hover {
    background: #2c2c2c;
    color: #ffffff;
}

a.image_link {
    text-decoration: none;
}

a.important_action {
    font-weight: bold;
    color: #0000ff;
}

a.important_action:hover {
    color: #ff0000;
    background: transparent;
}

acronym {
    cursor: help;
}

body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #2c2c2c;
    background-color: #ffffff;
}

div#app_content {
    width: 95%;
    margin: 1% auto;
    padding: 1em;
    background-color: #fcfcfc;
    border: 2px solid #dedede;
}

div#errorExplanation {
    width: 95%;
    border: 4px solid #dedede;
    padding-bottom: 1em;
    margin: 1.5em 0em;
    background-color: #ffffff;
}

div#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: .5em .5em .5em 1em;
    font-size: 1.2em;
    background-color: #ffff99;
    color: #000000;
    border-bottom: 4px solid #dedede;
}

div#errorExplanation p {
    font-weight: bold;
    padding: .5em .15em .5em 1em;
}

div#errorExplanation ul {
    margin-left: 3em;
    list-style: square;
}

div#links {
    margin: 1%;
}

div#links div.pagination {
    float: right;
    margin: .5em .5em .5em 0em;
}

div#links div.pagination a {
    color: #2c2c2c;
    padding: 1px 2px;
    text-decoration: none;
    border: 2px solid #dedede;
}

div#links div.pagination a, div#links div.pagination span {
    margin: 0em .1em;
}

div#links div.pagination a:hover {
    color: #ffffff;
    background: #0000ff;
    border: 2px solid #0000ff;
}

div#links div.pagination span.current {
    border: 2px solid #dedede;
    background: #dedede;
    color: #0000ff;
    font-weight: bold;
    padding: 1px 2px;
}

div#links div.pagination span.disabled {
    border: 2px solid #dedede;
    color: #cecece;
    padding: 1px 2px;
}

div#loading {
    position: fixed;
    top: 2.5em;
    right: 1em;
}

div#login {
    margin: 10em auto 0em auto;
    width: 20em;
    background-color: #f6f6f6;
    border: 2px solid #dedede;
    padding: 1em;
}

div#menu_container {
    padding: .5em 3em;
    height: 1.2em;
    background-color: #f6f6f6;
    border-bottom: 2px solid #dedede;
}

div#menu_container a.selected {
    font-weight: bold;
    text-decoration: none;
}

div#menu_container ul {
    margin: 0em 2em;
}

div#menu_container ul li {
    display: inline;
}

div#menu_container div#user_info {
    position: absolute;
    right: 3em;
    top: .5em;
}

div#notice, div#alert {
    position: absolute;
    bottom: .5em;
    left: 5%;
    right: 5%;
    background: #ffff99;
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: .5em .8em;
    border: 4px solid #dedede;
}

div#notice div#close_notice, div#alert div#close_alert {
    position: absolute;
    top: .5em;
    right: 1em;
    font-size: .6em;
    font-weight: normal;
    border: 2px solid #6e6e6e;
}

div#notice div#close_notice a, div#alert div#close_alert a {
    background: inherit;
    color: #6e6e6e;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding: 1px 5px;
}

div#showed_data {
    margin: 1%;
}

div.auto_complete {
    width: 100%;
    background: #ffffff;
    z-index: 1;
}

div.auto_complete ul {
    border: 2px dotted #2c3234;
    margin: 0em;
    padding: 0em;
    width: 99%;
    list-style-type: none;
}

div.auto_complete ul li {
    margin: 0em;
    padding: .3em;
    white-space: normal;
}

div.auto_complete ul li.selected {
    color: #666666;
    background-color: #f2f2f2;
}

div.auto_complete ul strong.highlight {
    font-weight: bold;
    vertical-align: text-top;
}

div.auto_complete span.aditional_info {
    display: block;
    color: #999999;
    font-size: .8em;
}

div.auto_complete span.informal {
    vertical-align: text-top;
}

div.auto_complete p.empty_result {
    background-color: #f2f2f2;
    color: #aa0000;
    border: 2px dotted #2c3234;
    font-weight: bold;
    text-align: center;
    padding: .3em;
}

div.box {
    border: 2px solid #2c3234;
    padding: .5em;
    margin: 1em 0em;
}

div.field {
    margin-bottom: .5em;
}

div.field label {
    display: block;
    margin-bottom: .2em;
    font-weight: bold;
    color: #6e6e6e;
}

div.field label.inline {
    display: inline;
}

div.form_container {
    margin: 1%;
}

div.form_container div.one_column_form {
    width: 50%;
}

div.item {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: .5em;
}

div.item_column {
    float: left;
    width: auto;
    display: inline;
}

div.item_column > h3 {
    font-size: 1em;
    padding: 2px 4px;
    color: #6e6e6e;
}

div.item_field {
    white-space: nowrap;
    float: left;
    display: inline;
    text-align: left;
}

div.item_field input[type="text"], div.item_field textarea {
    width: 90%;
}

div.item_field input[type="text"].date {
    width: 70%;
}

div.items {
    width: 98%;
    display: block;
}

div.items div, div.items h3 {
    display: inline;
}

div.items div.column_headers {
    display: block;
    clear: both;
    color: #151215;
    border-bottom: 2px solid #dedede;
    margin-bottom: .7em;
}

div#option {
    width: 16%;
}

div.project_form_part {
    display: block;
    margin-bottom: 1em;
}

div.project_form_part input {
    width: 15em;
}

div.search {
    padding-right: 16px;
}

div.search input.search {
    background: transparent url(../images/search.gif) no-repeat scroll 3px;
    padding-left: 16px;
}

form.button-to input[type="submit"] {
    margin: 0px;
}

h4.question {
    font-style: italic;
    font-weight: bold;
    margin-top: 1em;
}

input[type="submit"] {
    margin: .5em 0em;
}

input[type="text"], input[type="password"], select, textarea {
    width: 95%;
    font-size: inherit;
    font-family: inherit;
    padding: 1px;
}

input[type="text"].error_field,
input[type="password"].error_field,
textarea.error_field,
select.error_field {
    border: 2px solid #aa0000;
}

table {
    margin: 1%;
    width: 98%;
    empty-cells: show;
    border-collapse: collapse;
    border: 4px solid #dedede;
    background-color: #ffffff;
}

table.full_width {
    width: 100%;
    margin: 0%;
}

table.grid td, table.grid th {
    border: 2px solid #dedede;
}

td {
    padding: .3em .5em;
}

textarea {
    font: inherit;
    height: 10em;
}

th {
    padding: .5em .5em;
    text-align: left;
    border-bottom: 4px solid #dedede;
}

tr.even {
    background: #f8f8f8;
}

tr.odd {
    background: #ffffff;
}

ul.raw_list {
    list-style: square;
    margin: 1em 0em 1em 3em;
}

ul.answers {
    list-style: none;
    margin-left: 1em;
}

ul.answers em {
    text-decoration: underline;
    font-style: normal;
    background: #dedede;
}

ul.horizontal_list > li {
    display: inline;
    margin-right: 1em;
}

.add_item {
    clear: both;
    margin: .5em 0em;
}

.calendar_date_select a {
    padding: 0px;
}

.calendar_date_select table {
    width: 100%;
    border: none;
    empty-cells: hide;
}

.subscript {
    font-size: xx-small;
    vertical-align: bottom;
}

.superscript {
    font-size: xx-small;
    vertical-align:top;
}