<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= simple_form_for @user, url: create_session_users_path do |f| %>
        <div class="form-inputs">
          <%= f.input :user, input_html: { maxlength: 20, autofocus: true } %>
          <%= f.input :password, input_html: { maxlength: 20 } %>
        </div>
        <div class="form-actions">
          <%= f.submit t('users.enter'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
