<div id="notice">
  <p><%= flash[:notice] %></p>
  <div id="close_notice"><%= link_to 'X', '#', :onclick => "$('#notice').stop().fadeOut()",
    :title => t(:'labels.close') %></div>
</div>
<%= javascript_tag "$('#notice').delay(7000).fadeOut();" %>
