<% i18n_scope = [:projects, :sociodemographic_forms, :degree_school, :options] %>
<strong>
  <%= t(:'projects.sociodemographic_forms.degree_school.question') %>
</strong>
<ul class="horizontal_list">
  <% DEGREES_SCHOOL.each_with_index do |degree, i| %>
    <% degree_school_id = i %>
    <li>
      <label for="<%= degree_school_id %>">
         <%= t(degree, :scope => i18n_scope) %>
        
        
      </label>
      <%= radio_button_tag :degree_shool, i, false, :id => degree_school_id %>
    </li>
  <% end %>
</ul>