<% i18n_scope = [:projects, :questionnaire, :genre, :options] %>
<strong>
  <%= t(:question, :scope => [:projects, :sociodemographic_forms, :genre]) %>
</strong>

<% GENRES.each_with_index do |genre, i| %>
  <% genre_id = :"#{genre}_genre" %>
  <%= radio_button_tag :genre, genre, false, :id => genre_id %>
  <label for="<%= genre_id %>">
    <%= t(genre, :scope => i18n_scope) %>
  </label>
<% end %>
