<% i18n_scope = [:projects, :sociodemographic_forms, :study_subjects_choose, :options] %>
<strong>
  <%= t(:question, :scope => [:projects, :sociodemographic_forms, :study_subjects_choose]) %>
</strong>

<% STUDY_SUBJECTS_CHOOSE.each_with_index do |study, i| %>
  <% study_id = :"#{study}_study_subjects_choose" %>
  <%= radio_button_tag :study_subjects_choose, study, false, :id => study_id %>
  <label for="<%= study_id %>">
    <%= t(study, :scope => i18n_scope) %>
  </label>
  <br>
<% end %>
