<%= render 'form' %>

<div id="links">
  <%= link_to t(:'labels.show'), @subtopic, :class => :real %> |
  <%= link_to t(:'labels.list'), subtopics_path, :class => :real %> |
  ←<%= link_to_back %>
</div>
