body {
  padding-top: 70px;
  margin-bottom: 20px;
}

.filter {
  margin: 0.5em 0;
}

.inline {
  display: inline;
}

.loading-caption {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 10em;
  margin: 0em 0em 0em -5em;
  padding: .25em 1em;
  text-align: center;
  line-height: 40px;
  z-index: 1100;
}

.nested {
  padding-left: 2em;
}

.nowrap {
  white-space: nowrap;
}

.pagination, .pager {
  margin: 0;
}

.show_hide {
  margin-top: 7px;
}

.strike {
  text-decoration: line-through;
}

.submenu {
  margin-bottom: 15px;
}
